.clear{clear: both;}
.form-signin{max-width: 330px; padding: 15px; margin: 0 auto;}
.small-forms{max-width: 330px; padding: 15px;}
.form-signin input[type="password"]{margin-top: 10px;}
.margintop10{margin-top: 10px;}
.sidebar{z-index: 1000; display: block; padding: 20px 0; background-color: #f5f5f5; border-right: 1px solid #eee;}
.marginLeft0{margin-left: 0;}
.navbar{margin-bottom: 0;}
.nav-sidebar li.active a{background: #428bca; color: #fff;}
.addBtn{position: absolute; top: 40px; right: 15px;}
.overlay{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 999999;}
.addFormWrap{position: fixed; top:30%; left: 50%; width: 350px; margin-left: -175px; z-index: 9999999; background: #fff; border-radius: 10px;}
.addFormWrap .close{position: absolute; top: 5px; right: 5px; background: url(../img/sprite.png) 0 0 no-repeat; display: block; width: 25px; height: 25px; cursor: pointer; opacity: 0.5;}
.addFormWrap .close:hover{opacity: 1;}
.line{margin: 20px 0 0 0; border-bottom: 2px solid #dddddd;}
.page-wrapper{margin: 10px 0; min-height: 700px; background: url("../img/heifer.jpg") repeat-y center;}
.page-wrapper .containter{position: relative;}
.field-table td{padding: 10px 0;}
.tab-pane{padding: 10px 0;}
.row-cat{margin: 15px 0;}